<!DOCTYPE html>
<html lang="en">

<body>
    <section id="footer">
         <div class="footer">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"></div>

                    <div class="links-text-l col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12">
                        <a href="https://www.linkedin.com/in/edward-olmos10/" class="footer-link">
                            <h5>LinkedIn</h5>
                        </a>
                    </div>

                    <div class="links-text-r col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12>">
                        <a href="https://github.com/BigEd12" class="footer-link">
                            <h5>GitHub</h5>
                        </a>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6"></div>

                </div>
                <div class="row">
                    <div class="copyright-text col-lg-12">
                        <h6>© {{year}} Eduardo Olmos</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>